*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden !important;
}

body {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  background-color: rgb(244, 240, 218);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.btn_common {
  display: inline-block;
  padding: 1rem 2rem;
  background: rgb(21, 91, 75);
  border-radius: 2rem;
  font-weight: 700;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;
}
.btn_common:hover {
  transform: translateY(-4px);
}
.btn_common:active {
  transform: translateY(0px);
}

.icon_common {
  display: block;
  font-size: 3rem;
  color: rgb(10, 60, 48);
  --ionicon-stroke-width: 3rem;
}

.icon_star {
  font-size: 2rem;
  color: orange;
}

.icon_product {
  font-size: 2.5rem;
  color: #ff930f;
}

.rating_box {
  text-align: end;
}
.rating_box p {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(10, 60, 48);
}

.product_content_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.other_product {
  margin-top: 5rem;
}
.other_product a {
  color: rgb(10, 60, 48);
  font-weight: 700;
  font-size: 2rem;
}

.btn_explore {
  animation: moveFromBottom 3s;
}

.container_btn__buy {
  text-align: center;
}

.btn_buy {
  background-color: rgb(244, 240, 218);
  color: rgb(10, 60, 48);
  margin: auto;
}

.header_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header_content h1 {
  z-index: 3;
  font-size: 5rem;
  color: rgb(10, 60, 48);
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  animation: moveFromLeft 3s;
}
.header_content h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ff930f, #fff95b);
  top: -25%;
  left: 0;
  padding: 4rem 0;
  z-index: -1;
  transform: skew(-20deg);
}
.header_content p {
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #ff930f, #fff95b);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  font-weight: 800;
  animation: moveFromRight 3s;
}

@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveFromBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    opacity: 1;
    transform: scale(1.1);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
.landing_page {
  opacity: 0;
  transform: translateY(50px);
}

.animation_moveFromLeft {
  animation: moveFromLeft 2s ease-in-out;
}

.fix_navigation {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(7, 58, 45, 0.9);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.566);
}

@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .header_content {
    width: 90%;
  }
  .header_content h1 {
    font-size: 3.5rem;
  }
  .header_content h1::after {
    display: none;
  }
  .header_content h1 {
    background: linear-gradient(90deg, #ff930f, #fff95b);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    padding-top: 5px;
  }
  .nav_link li:not(:last-child) {
    display: none;
  }
  .nav_link {
    margin-right: 2px !important;
    margin-bottom: 0 !important;
  }
  .navigation_bar {
    position: relative;
    padding: 0 !important;
  }
  .navigation_bar img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 !important;
    transform: translate(-50%, -50%);
  }
  .btn_menu {
    display: block !important;
    background-color: transparent;
    border: none;
    padding: 1rem 1rem;
  }
  .icon_menu {
    font-size: 5rem;
    color: rgb(244, 240, 218);
  }
  .popup_container__content {
    overflow: scroll !important;
  }
  .nav_link_slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav_link_slide li:last-child {
    display: none;
  }
  .nav_link_slide li:not(:last-child) {
    margin-bottom: 5rem;
  }
  .nav_link_slide a {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(10, 60, 48);
    background-color: rgb(244, 240, 218);
    padding: 2rem 2rem;
    border-radius: 3rem;
  }
}
@media (max-width: 450px) {
  .customer_container img {
    width: 100%;
  }
  .customer_container {
    background: linear-gradient(105deg, rgb(10, 60, 48), rgb(21, 91, 75));
    box-shadow: 0 0 1rem rgba(76, 76, 76, 0.648);
  }
  .customer_container p {
    padding: 2rem 2rem;
    margin-top: 3rem !important;
  }
  .section_3d {
    padding: 1rem 1rem !important;
  }
  .section_product_header h1 {
    text-align: center;
  }
  .rating_box {
    margin: auto;
    text-align: center;
  }
  .copyright a {
    display: block;
    margin: auto;
  }
  .copyright p {
    text-align: center;
  }
  .popup_container__content {
    width: 90% !important;
  }
  .popup_container__content h1 {
    margin-top: 2rem;
  }
  .section_product__card__content {
    padding: 1.2rem 1.2rem !important;
  }
}
.img_factory {
  display: block;
  width: 100%;
  height: 25rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem;
  margin: auto;
}

.img_certification {
  display: block;
  margin: auto;
  width: 100%;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_certification__absolute {
  position: absolute;
  width: 5rem;
  top: 0;
  left: 0;
}

.img_logoCus {
  width: 60%;
  display: block;
  margin: auto auto;
}

.img_ingredient {
  width: 80%;
  min-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 0 0 1rem rgba(104, 104, 104, 0.331);
  display: block;
  margin: auto auto;
}

.img_highlight {
  width: 100%;
  height: 18rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 0 0 1rem rgba(104, 104, 104, 0.331);
  display: block;
  margin: auto auto;
  border-radius: 2rem;
}
.img_highlight:last-child {
  -o-object-position: bottom;
     object-position: bottom;
}

.img_premium {
  max-width: 90%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
  border-radius: 2rem;
}
.img_premium:not(:last-child) {
  margin-bottom: 2rem;
}

.img_3d {
  max-width: 100%;
  border-radius: 0.5rem;
}

.popup_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  transition: all 0.5s;
}
.popup_container__content {
  padding: 3rem 3rem;
  position: fixed;
  width: 50%;
  height: auto;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  box-shadow: 0 0 2rem rgba(66, 66, 66, 0.831);
  position: relative;
}
.popup_container__content h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.popup_container__content h1:last-child {
  margin-top: 3rem;
}
.popup_container__content p {
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(10, 60, 48);
}

.block_information {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_close_popup {
  position: absolute !important;
  border: none;
  top: 3%;
  right: 3%;
  box-shadow: 0 0 1rem rgba(81, 81, 81, 0.457);
  border-radius: 50%;
  background-color: white;
}

.popup_container__show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.navigationM_contaniner {
  transition: all 0.5s;
  opacity: 0;
  transform: translateX(-50%);
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 20;
}

.navigationM_container_slide {
  position: fixed;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
}

.btn-slide {
  border: none;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2%;
  right: 5%;
  box-shadow: 0 0 1rem rgba(104, 104, 104, 0.331);
}

.show_navigationM {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}

header {
  max-width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749)), url(/IMG/signature/TUAN1557\ -\ Copy-min.jfif);
  background-size: cover;
  background-position: center;
  overflow-x: hidden !important;
}

.header_content {
  overflow: hidden;
}

.navigation_bar {
  padding-top: 1rem;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation_bar img {
  width: 7rem;
  height: 6rem;
  margin-left: 3rem;
}

.nav_link {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 3rem;
  font-weight: 600;
}
.nav_link_list {
  margin-right: 1rem;
  transition: all 0.5s;
}

.section {
  max-width: 100vw;
  min-height: 100vh;
  padding: 8rem 0;
  transition: all 0.5s ease-in;
}
.section_about {
  background-color: rgb(244, 240, 218);
}
.section_about__header h1 {
  padding-top: 5px;
  margin-top: 3rem;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}
.section_about__header p {
  font-size: 1.8rem;
  font-weight: 700;
}
.section_about_left {
  margin-top: 3rem;
}
.section_about_left h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}
.section_about_left_card {
  display: block;
  margin: auto;
  padding: 2rem 2rem;
  width: 80%;
  height: auto;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(104, 104, 104, 0.331);
}
.section_about_left_card_row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
.section_about_left_card_row p {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
}
.section_about_right {
  margin-top: 3rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section_about_right img:first-child {
  display: block;
  margin: 4rem auto;
  width: 80%;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.section_about_right img:last-child {
  display: block;
  margin: auto;
  width: 15%;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 1rem rgba(104, 104, 104, 0.331);
  padding: 1.2rem 1.2rem;
  border-radius: 50%;
  top: 5%;
  left: 5%;
}
.section_factory {
  background: rgb(21, 91, 75);
}
.section_factory__header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(90deg, #ff930f, #fff95b);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
  margin-top: 5rem;
}
.section_factory__header p {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(244, 240, 218);
}
.section_ingredient {
  background-color: rgb(244, 240, 218);
}
.section_ingredient_left h1 {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
  margin-top: 5rem;
}
.section_ingredient_left p {
  font-size: 1.8rem;
  font-weight: 700;
}
.section_certification {
  background: rgb(21, 91, 75);
}
.section_certification__left {
  display: block;
  position: relative;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  height: auto;
  background-color: white;
  padding: 2rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(104, 104, 104, 0.331);
}
.section_certification__left h1 {
  font-size: 2.5rem;
  font-weight: 900;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
  text-transform: uppercase;
}
.section_certification_blockcontent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.section_certification_blockcontent p {
  margin-left: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.section_logocus {
  background-color: white;
}
.section_logocus__header h1 {
  margin-top: 3rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
  position: relative;
}
.section_highlight2024 {
  background: linear-gradient(45deg, rgb(10, 60, 48), rgb(21, 91, 75));
}
.section_highlight2024_header {
  margin-top: 5rem;
}
.section_highlight2024_header h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 2rem;
  background: linear-gradient(90deg, #ff930f, #fff95b);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}
.section_highlight2024_header p {
  font-size: 1.8rem;
  color: rgb(244, 240, 218);
  font-weight: 600;
}

.section_premium {
  background: linear-gradient(105deg, rgb(244, 240, 218) 60%, rgb(10, 60, 48) 60%);
}
.section_premium_left {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.section_premium_left h1 {
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}
.section_premium_left p {
  font-size: 1.8rem;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}

.section_customer {
  background: linear-gradient(105deg, rgb(244, 240, 218) 60%, rgb(10, 60, 48) 60%);
}
.section_customer_header h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  color: rgb(10, 60, 48);
  background-color: rgb(244, 240, 218);
  padding: 1rem 1rem;
  border-radius: 2rem;
  text-align: center;
}

.customer_container {
  width: auto;
  height: auto;
  background-color: rgb(10, 60, 48);
  margin: auto;
  margin-top: 5rem;
  border-radius: 3rem;
  overflow: hidden;
}
.customer_container img {
  max-width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: auto;
}
.customer_container p {
  margin-top: 6rem;
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(90deg, #ff930f, #fff95b);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}

.section_3d {
  padding: 10rem 10rem;
  background-color: rgb(244, 240, 218);
}
.section_3d_left {
  margin: 5rem 0;
}
.section_3d_left h1 {
  font-size: 3rem;
  font-weight: 900;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
}
.section_3d_left p {
  font-size: 1.8rem;
  font-weight: 800;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}

.section_product_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
.section_product_header h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(11, 44, 36, 0.767), rgba(36, 122, 77, 0.749));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}
.section_product__card {
  overflow: hidden;
  position: relative;
  display: block;
  margin: auto;
  width: 80%;
  height: auto;
  background-color: rgb(10, 60, 48);
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(91, 91, 91, 0.443);
}
.section_product__card::after {
  position: absolute;
  content: "Best Seller";
  background-color: yellow;
  color: red;
  top: 3.5%;
  right: -10%;
  padding: 0.3rem 5rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  transform: rotate(30deg);
}
.section_product__card img {
  max-width: 100%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
.section_product__card__content {
  padding: 2rem 4rem;
}
.section_product__card__content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 900;
  background: linear-gradient(90deg, #ff930f, #fff95b);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
}
.section_product__card__content p {
  font-size: 1.8rem;
  font-weight: 700;
  background: linear-gradient(90deg, #ff930f, #fff95b);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
  margin-left: 2rem;
}

.footer {
  min-height: 50vh;
  background-color: rgb(10, 60, 48);
  padding: 3rem 3rem;
}

.icon_footer {
  width: 3rem;
}

.icon_link {
  display: inline-block !important;
}
.icon_link:not(:last-child) {
  margin-right: 1rem;
}

.col_list_footer h2 {
  font-size: 2rem;
  font-weight: 800;
  background: linear-gradient(90deg, #ff930f, #fff95b);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  padding-top: 5px;
  margin-bottom: 2rem;
}
.col_list_footer a,
.col_list_footer p {
  display: block;
  font-size: 1.8rem;
  color: rgb(244, 240, 218);
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.copyright p {
  font-size: 1.8rem;
  color: rgb(244, 240, 218);
}
.copyright img {
  width: 7rem;
  height: 6rem;
}/*# sourceMappingURL=main.css.map */