header {
  max-width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, $color-primary-fade, $color-temp-fade),
    url(/IMG/signature/TUAN1557\ -\ Copy-min.jfif);
  background-size: cover;
  background-position: center;
}

.navigation_bar {
  padding-top: 1rem;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
    width: 7rem;
    height: 6rem;
    margin-left: 3rem;
  }
}

.nav_link {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 3rem;
  font-weight: 600;

  &_list {
    margin-right: 1rem;
    transition: all 0.5s;
  }
}
