.section {
  max-width: 100vw;
  min-height: 100vh;
  padding: 8rem 0;
  transition: all 0.5s ease-in;

  &_about {
    background-color: $color-pastel;

    &__header {
      & h1 {
        padding-top: 5px;
        margin-top: 3rem;
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;

        @include textGradientGreen;
      }

      & p {
        font-size: 1.8rem;
        font-weight: 300;
      }
    }

    &_left {
      margin-top: 3rem;

      & h1 {
        font-size: 2.2rem;
        text-transform: uppercase;
        font-weight: 600;
        @include textGradientGreen;
      }
    }

    &_left_card {
      display: block;
      margin: auto;
      padding: 2rem 2rem;
      width: 80%;
      height: auto;
      background-color: white;
      border-radius: 2rem;
      box-shadow: 0 0 1rem $color-shadow;

      &_row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 2rem;

        & p {
          margin-left: 1rem;
          font-size: 1.8rem;
          font-weight: 300;
        }
      }
    }

    &_right {
      margin-top: 3rem;
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      & img:first-child {
        display: block;
        margin: 4rem auto;
        width: 80%;
        height: 35rem;
        object-fit: cover;
        border-radius: 1rem;
      }

      & img:last-child {
        display: block;
        margin: auto;
        width: 15%;
        position: absolute;
        background-color: white;
        box-shadow: 0 0 1rem $color-shadow;
        padding: 1.2rem 1.2rem;
        border-radius: 50%;
        top: 5%;
        left: 5%;
      }
    }
  }

  &_factory {
    background: white;

    &__header {
      & h1 {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 600;
        @include textGradientGreen;
        margin-top: 5rem;
        margin-bottom: 2rem;
      }

      & p {
        font-size: 1.8rem;
        font-weight: 300;
        color: $color-temp;
      }
    }
  }

  &_ingredient {
    background-color: $color-pastel;

    &_left {
      & h1 {
        font-size: 2.5rem;
        font-weight: 600;
        text-transform: uppercase;
        @include textGradientGreen;
        margin-top: 5rem;
        margin-bottom: 2rem;
        text-align: center;
      }

      & p {
        font-size: 1.8rem;
        font-weight: 300;
      }
    }
  }

  &_certification {
    background: white;

    &__left {
      display: block;
      position: relative;
      margin-bottom: 5rem;
      margin-left: auto;
      margin-right: auto;
      max-width: 80%;
      height: auto;
      background-color: $color-pastel;
      padding: 2rem 2rem;
      border-radius: 2rem;
      box-shadow: 0 0 1rem $color-shadow;
      & h1 {
        font-size: 2.5rem;
        font-weight: 600;
        @include textGradientGreen;
        text-transform: uppercase;
      }
    }

    &_blockcontent {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & p {
        margin-left: 1rem;
        font-size: 1.8rem;
        font-weight: 300;
      }
    }
  }

  &_logocus {
    background-color: white;
    &__header h1 {
      margin-top: 3rem;
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 600;
      @include textGradientGreen;
      position: relative;
    }
  }

  &_highlight2024 {
    background-color: $color-pastel;

    &_header {
      margin-top: 5rem;
      & h1 {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 2rem;
        @include textGradientGreen;
      }

      & p {
        font-size: 1.8rem;
        color: $color-temp;
        font-weight: 300;
        margin-bottom: 2rem;
      }
    }
  }
}

.section_premium {
  background-color: white;
  &_left {
    margin-top: 5rem;
    margin-bottom: 5rem;

    & h1 {
      font-size: 3rem;
      font-weight: 600;
      text-align: center;
      @include textGradientGreen;
    }

    & p {
      font-size: 1.8rem;
      font-weight: 300;
      @include textGradientGreen;
    }
  }
}

.section_customer {
  background: white;

  &_header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    color: $color-temp;
    padding: 1rem 1rem;
    border-radius: 2rem;
    text-align: center;
  }
}

.customer_container {
  width: auto;
  height: auto;
  background-color: $color-temp;
  margin: auto;
  margin-top: 5rem;
  border-radius: 3rem;
  overflow: hidden;

  & img {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    margin: auto;
  }

  & p {
    margin-top: 5rem;
    padding: 2rem 2rem;
    font-size: 2rem;
    font-weight: 300;
    color: $color-primary;
  }
}

.section_3d {
  padding: 10rem 10rem;
  background-color: $color-pastel;

  &_left {
    margin: 5rem 0;
    & h1 {
      font-size: 3rem;
      font-weight: 600;
      @include textGradientGreen;
      text-align: center;
      text-transform: uppercase;
    }

    & p {
      font-size: 1.8rem;
      font-weight: 300;
      @include textGradientGreen;
    }
  }
}

.section_product {
  &_header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    & h1 {
      font-size: 3rem;
      font-weight: 600;
      text-transform: uppercase;
      @include textGradientGreen;
    }
  }

  &__card {
    overflow: hidden;
    position: relative;
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    background-color: $color-temp;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(91, 91, 91, 0.443);

    &::after {
      position: absolute;
      content: "Best Seller";
      background-color: yellow;
      color: red;
      top: 3.5%;
      right: -10%;
      padding: 0.3rem 5rem;
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: uppercase;
      transform: rotate(30deg);
    }

    & img {
      max-width: 100%;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }

    &__content {
      padding: 2rem 4rem;
      & h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 600;
        color: $color-primary;
      }

      & p {
        font-size: 1.8rem;
        font-weight: 300;
        color: $color-primary;
        margin-left: 2rem;
      }
    }
  }
}
