@media (max-width: 992px) {
  html {
    font-size: 55%;
  }
  .header_content {
    width: 90%;
  }

  .header_content h1 {
    font-size: 3.5rem;
  }

  .header_content h1::after {
    display: none;
  }
  .header_content h1 {
    @include textGradientYellow;
  }

  .nav_link li:not(:last-child) {
    display: none;
  }

  .nav_link {
    margin-right: 2px !important;
    margin-bottom: 0 !important;
  }
  .navigation_bar {
    position: relative;
    padding: 0 !important;
  }
  .navigation_bar img {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0 !important;
    transform: translate(-50%, -50%);
  }
  .btn_menu {
    display: block !important;
    background-color: transparent;
    border: none;
    padding: 1rem 1rem;
  }

  .icon_menu {
    font-size: 5rem;
    color: $color-pastel;
  }

  .popup_container__content {
    overflow: scroll !important;
  }

  .nav_link_slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-pastel !important;

    & > .nav_link_list {
      font-size: 1rem !important;
    }

    & li:last-child {
      display: none;
    }

    & li:not(:last-child) {
      margin-bottom: 5rem;
    }
    & a {
      font-size: 2rem;
      font-weight: 800;
      color: $color-temp;
      padding: 2rem 2rem;
      border-radius: 3rem;
    }
  }
}

@media (max-width: 450px) {
  .customer_container img {
    width: 100%;
  }

  .customer_container {
    background: $color-temp;
    box-shadow: 0 0 1rem rgba(76, 76, 76, 0.648);
  }

  .customer_container p {
    padding: 2rem 2rem;
    margin-top: 3rem !important;
  }

  .section_3d {
    padding: 1rem 1rem !important;
  }
  .section_product_header h1 {
    text-align: center;
  }
  .rating_box {
    margin: auto;
    text-align: center;
  }
  .copyright a {
    display: block;
    margin: auto;
  }

  .copyright p {
    text-align: center;
  }

  .popup_container__content {
    width: 90% !important;
  }

  .popup_container__content h1 {
    margin-top: 2rem;
  }

  .section_product__card__content {
    padding: 1.2rem 1.2rem !important;
  }
}
