$color-primary: #e1ecc8;
$color-temp: rgb(21, 91, 75);
$color-pastel: #edf6ee;

$color-primary-fade: rgba(11, 44, 36, 0.767);
$color-temp-fade: rgba(36, 122, 77, 0.749);

$color-shadow: rgba(104, 104, 104, 0.331);
